﻿$head$
<script src="$skinpath$/js/easySlider.js" type="text/javascript"></script>
<div id="content">
<!--left-->
<div id="left">
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/eprodcuts.asp">Classify</a>&nbsp;&nbsp;<span>产品分类</span></div>
    </div>
    <div class="classlist">
    <ul>   
    $产品分类$
    </ul>
    </div>
    <p><a href="egbook.$weburlext$"><img src="$skinpath$/images/emessage.gif" /></a></p>
    
    <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/enews.asp">NEWS</a>&nbsp;&nbsp;<span>公司动态</span></div>
    </div>
    <div class="classlist">
    <ul>
   $公司动态$
    </ul>
    </div>
    
     <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/ejishu.asp" ></a>Technical&nbsp;&nbsp;<span>技术资料</span></div>
    </div>
    <div class="classlist">
    <ul>
    $技术资料$
    </ul>
    </div>
     <p><a href="/econtact.$weburlext$"><img src="$skinpath$/images/econtact.gif" /></a></p>
</div>

<!--right-->
<div id="right">
	<div class="fenge"></div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/eintro.$weburlext$">About</a>&nbsp;&nbsp;<span>公司介绍</span></div>
    </div>
    <div class="introindex">$公司介绍$
<a href="/eintro.$weburlext$">[ View Details ]</a></div>
<div class="fenge"></div>
  	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/eproducts.asp">Recommended</a>&nbsp;&nbsp;<span>推荐产品</span></div>
    </div>
    <div id="productstuijian">
    <span id="slider1prev"></span>
    <ul>
        $推荐产品$
    </ul>
     <span id="slider1next"></span>
    </div>
    
    <div class="fenge10"></div>
    
    <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/eproducts.asp"></a>Latest&nbsp;&nbsp;<span>最新产品</span></div>
    </div>
    <div class="products">
    <ul>
    	$最新产品$
       
    </ul>
    </div>
    
    <div class="fenge10"></div>
    
    <div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/contact.$weburlext$"></a>Contact&nbsp;&nbsp;<span>联系我们</span></div>
    </div>
    <div class="contact">
        <table width="98%" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#cccccc">
          <tr>
            <td width="23%" align="right" height="23"><strong>Company Name：</strong>&nbsp;</td>
            <td width="45%" align="left" >&nbsp;Guangzhou City, ZHEN YUE TECHNOLOGY CO.,LTD</td>
            <td width="32%" rowspan="8" valign="middle" align="center"><img src="$skinpath$/images/intro.gif" /></td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Province / City：</strong>&nbsp;</td>
            <td align="left">&nbsp;Guangzhou City, Guangdong Province</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Address：</strong>&nbsp;</td>
            <td align="left">&nbsp;Yingbin Road, Panyu, Guangzhou, China</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>PostCode：</strong>&nbsp;</td>
            <td align="left">&nbsp;511400 </td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Tel：</strong>&nbsp;</td>
            <td align="left">&nbsp;+86-20-39990540</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Fax：</strong>&nbsp;</td>
            <td align="left">&nbsp;+86-20-39990540</td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Mobile：</strong>&nbsp;</td>
            <td align="left">&nbsp;+86-15917399180
        </td>
          </tr>
          <tr>
            <td align="right" height="23"><strong>Contact：</strong>&nbsp;</td>
            <td align="left">&nbsp;Mr.ZHOU Manager</td>
          </tr>
        </table>      
        
  </div>   
    
</div>
</div>
$foot$
<script type="text/javascript">
<!--
$(document).ready(function(){	
$("#productstuijian").easySlider({
	auto: true,
	continuous: true,
	pause: 3000,
	controlsShow: false
});			
});	
//-->
</script>

</body>
</html>
