﻿$head$

<div id="content">
<!--left-->
$left$

<!--right-->
<div id="right">
	<div class="daohang">Your current location:<a href="/default.$weburlext$">Home Page</a> > Technical</div>
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/ejishu.asp">Technical</a>&nbsp;&nbsp;<span>技术资料</span></div>
    </div>
    <div class="intro">
        <div class="classlist">
        <ul>
        $getnews$        
       
        </ul>
        </div>
        $pages$        
    </div> 	
    
</div>
</div>
$foot$

</body>
</html>
