﻿<div id="left">
	<div class="classTitle">
    	<div class="classTitlelogo"></div>
        <div class="classTitleWord"><a href="/eproducts.asp" >Classify</a>&nbsp;&nbsp;<span>产品分类</span></div>
    </div>
    <div class="classlist">
    <ul>
   $getclass$
    </ul>
    </div>
    <p><a href="/egbook.$weburlext$"><img src="$skinpath$/images/emessage.gif" /></a></p>    
   
     <p><a href="/econtact.$weburlext$"><img src="$skinpath$/images/econtact.gif" /></a></p>
</div>